---
version: 3

images:
  base_image:
    name: quay.io/centos/centos:stream9-minimal@sha256:8e3da0bb75378a3f0b16416c11b70678101c82c7391714a736cd1e2b6a3a0f96
dependencies:
  ansible_core:
    package_pip: ansible-core==2.18.0
  ansible_runner:
    package_pip: ansible-runner==2.4.0
  python_interpreter:
    package_system: "python311"
    python_path: "/usr/bin/python3.11"
  galaxy: requirements.yml
  python: requirements.txt
  system: |
    git-core [platform:rpm]
    sshpass [platform:rpm]
    rsync [platform:rpm]
    gzip [platform:rpm]
    tar [platform:rpm]
    openssh [platform:rpm]
options:
  package_manager_path: /usr/bin/microdnf
additional_build_steps:
  append_final:
    - RUN update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.11 1
    - RUN curl -L https://mirror.openshift.com/pub/openshift-v4/clients/helm/latest/helm-linux-amd64 -o /usr/local/bin/helm && chmod +x /usr/local/bin/helm
